
.panel-content{
	padding-left: 6%
}

.panel{
	border: 0px;
	background:#fff;
}




.fixed_div{ 
display:inline-block;
position:fixed;
overflow-Y:hidden;
filter:alpha(opacity=100); }

.a{
border:solid 0px #000 ;

}

.target_fix {
    position: relative;
    top: -70px; 
display:block;
height:0px;	
}

.con_ul>li{

line-height:35px;}

.fancybox-lock-test {
    overflow-y: scroll;
}

.list-group-item{
border:solid 0px;
background-color:transparent;
}
.list-group{
	background:transparent;
    -webkit-box-shadow:none;
	box-shadow:none;
}

#fix-padding{
	background:;
}